
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.quenice.cardview">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

<!--    <intent-filter>-->
<!--        <action android:name="android.intent.action.VIEW"/>-->
<!--        <category android:name="android.intent.category.BROWSABLE"/>-->
<!--        <category android:name="android.intent.category.DEFAULT"/>-->
<!--        <data android:scheme="alpverify"-->
<!--            android:host="main"/>-->
<!--    </intent-filter>-->
</manifest>
  